* {
  border: 1px solid red;
}

p {
  color: green;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
}

a[href*='florence'] {
  color: lightgreen;
}

a[href*='beijing'] {
  color: lightblue;
}

a[href*='seoul'] {
  color: rgb(86, 46, 52);
}

a:hover {
  color:darkorange;
}

.heading-background {
  background-color: rgb(23, 106, 106);
}

#publish-time {
  color: rgb(172, 134, 134);
}

h5 {
  color: rgb(116, 116, 64);
}

.author-class {
  color: pink;
}

#author-id {
  color: rgb(100, 221, 237);
}
h2.destiation{font-family: Georgia, 'Times New Roman', Times, serif;}

h5, li{font-family: Arial, Helvetica, sans-serif;}

