tml {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: white;  
    text-align: center;  
  }
  
  h1 {
    padding: 20px;
    color: rgb(209, 191, 191);
    font-size: 28px;
    text-align: center;
    font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
  
  h2 {
    padding: 40px 20px 0 20px;
    font-size: 24px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }
  
  
  /* Header */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    font-size: 14px;
    font-weight: 900;
  }
  
  .header li {
    display: inline-block;
    padding: 10px;
  }
  
  .header a {
    color: #100b0b;
  }
  
  a.home {
    color: #5f479a;
  }
  
  
  /* Banner Section */
  .banner {
    margin-top: 74px;
    padding: 40px 0 100px 0;
    background-color: #5e4893;
  }
  
  .banner p {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-weight: lighter;
    word-spacing: 0.25em;
    line-height: 1.4;
  }
  
  
  /* Editorial Sections */
  .editorial {
    padding-bottom: 40px;
    color: rgb(30, 29, 29);
    font-family: 'Trebuchet MS', 'Times New Roman', serif;
  }
  
  /* Font Card Sections */
  .font-card {
    padding: 10px 0 40px 0;
    background-color: #ffffff;
    text-align: center;
  }
  
  .font-card .creator {
    padding: 10px 20px;
    font-size: 16px;
    font-style: italic;
  }
  
  .sample {
    display: inline-block;  
    padding: 5px 40px;
  }
  
  .sample .text {
    color: #4c3a76;
    font-size: 100px;
  }
  
  .garamond {
    font-family: Garamond;
  }
  
  .helvetica {
    font-family: Helvetica;
  }
  
  .space {
    font-family: 'Space Mono', monospace;
  }
  
  .bold {
    font-weight: 900;
  }
  
  .regular {
    font-weight: normal;
  }
  
  .italic {
    font-weight: normal;
    font-style: italic;
  }